@{
    ViewBag.Title = "Home Page";
}

<div class="">
    <h2>PortumMedix</h2>
    <hr />
    <table style="width:100%;">
        <tr>
            <td rowspan="2">
                <fieldset style="height:500px; margin:10px; "><legend>&nbsp;Ultimas Noticias</legend>
                </fieldset>
            </td>
            <td>   
                 <fieldset style="height:250px; margin:0px 5px 0px 0px;  "><legend>&nbsp;Notificaciones</legend>
                 </fieldset>        
            </td>
            <td>    <fieldset style="height:250px; margin:0px 5px 0px 0px; "><legend>&nbsp;Proximas Consultas</legend>
                    </fieldset>        
            </td>
        </tr>
        <tr>
            <td>    <fieldset style="height:250px; margin:0px 5px 0px 0px; "><legend>&nbsp;Actividad</legend>    
                    </fieldset>        
            </td>
            <td>    <fieldset style="height:250px; margin:0px 5px 0px 0px;  "><legend>&nbsp;Recetas Recientes</legend>
                    </fieldset>        
            </td>
        </tr>
    </table>


</div>

<div class="row">
    

</div>