body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

fieldset
{
  border: 1px solid gray;
  border-radius:2px;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
}


.webgrid {
    width: 100%;
    border: 0px;
    border-collapse: collapse;
    text-align: center;
}

    .webgrid a {
        color: white;
        text-decoration: none;
    }

    .webgrid td {
        border: 1px solid #E8EEF4;
    }


.webgrid-header {
    padding: 5px 4px;
    text-align: center;
    background-color: #6583CC;
    border-bottom: 2px solid #d2d2d2;
    height: 20px;
    border-top: 2px solid #d2d2d2;
    border-left: 2px solid #d2d2d2;
    border-right: 2px solid #d2d2d2;
}

.webgrid-footer {
    padding: 6px 5px;
    text-align: left;
    background-color: #6583CC;
    border-top: 1px solid #d2d2d2;
    height: 20px;
    border-bottom: 1px solid #d2d2d2;
    border-left: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
}

.webgrid-alternating-row {
    height: 20px;
    background-color: LightBlue;
    border-bottom: 1px solid #d2d2d2;
    border-left: 2px solid #d2d2d2;
    border-right: 2px solid #d2d2d2;
}

/*#f2f2f2;*/
.webgrid-row-style {
    height: 20px;
    border-bottom: 1px solid #d2d2d2;
    border-left: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
}

.webgrid-selected-row {
    color: #000000;
    font-weight: bold;
}

        .Sombra:hover
        {
            background-color:rgba(0,0,0,0.05);
            border-radius: 100px 100px 100px 100px;
            -moz-border-radius: 100px 100px 100px 100px;
            -webkit-border-radius: 100px 100px 100px 100px;
        }
